
/* *  Esto Controla Todo El Documento En Gene
ral*/
*{            
    margin:0;
    left:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color:#FFFFFF;
    overflow:visible;
}

header{
    max-height: none;
    overflow-y: hidden;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:7.2em;
    background-color:rgb(26, 172,26);
    z-index:2;
}

.Contenedor-Header{
    padding:40px;
    max-width:1680px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    font-family:"BlinkMacSystemFont","Bliker","system-ui", 'Segoe UI', "Roboto","Oxygen","Ubuntu","Cantarell", 'Open Sans', 'Helvetica Neue', "sans-serif","-apple-system";

}
.Icono{
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:1.2em;
    } 
.Logo{
        padding: 40px;
        display:flex;
        height:7em;
        position: relative;
        left:-32em;
        display:flex;
        justify-content:center;
        align-items:center;
    
}
.Logo h1 b{
    color: #FFFFFF;
    position: relative;
   right:2em;
}


.Logo h1 strong{
    color:rgba(162,239,77,255);
    position: relative;

}
.Menu{
    height:7em;    
}
.Menu nav{
    height:100%;
}
.Menu nav ul{
    height:100%;
    display:flex;
    list-style:none;
    justify-content: center ;
}
.Menu nav ul li{
    overflow-y: hidden;
    height:100%;
    margin:0px 0.3em;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Menu-Seleccionado:before, .Menu-Seleccionado:after {
    content: '';
    width: 100%;
    height: 0.2em;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 2s ease-in-out;
}

.Menu-Seleccionado:before {
    top: -2em;
}

.Menu-Seleccionado:after {
    bottom: -2em;
}

.Menu-Seleccionado:hover:before {
    top: 2.8em;

}
#Texto-Menu-Seleccionado:hover{
    text-transform: uppercase;
}
.Menu-Seleccionado:hover:after {
    bottom: 2.6em;
}
.Menu nav ul li a{
    color:#12FF00;
    transition:color 4000ms;
}
.Menu nav ul li a:hover{
    color:rgb(255,255,255);
    transition:color 1000ms;
    border-color: #FFFFFF;

}
.Menu .Texto-Menu-Seleccionado{
    color: #000;
}
.Menu .Texto-Menu-Seleccionado1{
    color:rgb(000,000,000);
}
.Menu .Texto-Menu-Seleccionado2{
    color:rgb(0,0,0);
}
/* Estilos para la imagen */
#imgF {
    position: relative;
    left: 20em;
    top: 17em;
}

/* Estilos para el checkbox */
#clic {
    display: none; /* Esto oculta el checkbox */
}

/* Estilos para la lista 1 */

.section0 ul{
    display:block;
    position: relative;
    top:-8em;
}
.section0 ul #li1 {
    display: flex;
    position: relative;
    visibility:visible;
    top: 7.3em;
    left: 35em; /* Esto oculta la lista 1 por defecto */
}

/* Estilos para la lista 2 */
.section0 ul #li2 {
 visibility: visible;
    position: relative;
    bottom: 16.8em;
}

/* Cuando el checkbox está marcado, se oculta la lista 2 y se muestra la lista 1 */
#clic:checked ~ .section0 ul #li1 {
    visibility: visible;
}

#clic:checked ~ .section0 ul #li2 {
    visibility: visible;
}
.social{
    color: #000;
    display:flex;
 position: relative;
 bottom: 20em;
 justify-content: center;
 align-self: center;
 text-orientation:initial;
} 
.social ul li a{
    color:black;
}
.li1{
    position: relative;
    left:20em;
    bottom:14em;
    list-style:none;
}
.social ul .li1 #Facebook{
    color:rgba(58,87,149,255) ;
}
.social ul .li1 #X{
color:#fff;
background-color: #000;
border-radius: 45px;
}
.social ul .li1 #Github{
color:rgb(0,0,0);
}
.social ul .li1 #Correo{
color:void;
}
.social ul .li1 #Youtube{
color:rgba(255,0,0,255);
}
.social ul .li1 #LinkedIn{
color:rgba(0,122,181,255);
}
.social ul .li1 #Instagram{
background: #833ab4;
background: linear-gradient(to right,#833ab4,#fd1d1d,#fcb045);
color:#fff;
border-radius:4px;
}














































/* *  Esto Controla Todo El Documento En Gene
ral
*{            
    margin:0;
    left:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color:#FFFFFF;
    overflow:visible;
}


/* Esto Controla La Cabeza del domumento Ocultando la Barra Vertical y Fiajndola 
header{
    max-height: none;
    overflow-y: hidden;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:7.2em;
    background-color:rgb(26, 172,26);
    z-index:2;
}

/*  De aqui en adelante es lo que contiene el header 
.Contenedor-Header{
    padding:40px;
    max-width:1680px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    font-family:"BlinkMacSystemFont","Bliker","system-ui", 'Segoe UI', "Roboto","Oxygen","Ubuntu","Cantarell", 'Open Sans', 'Helvetica Neue', "sans-serif","-apple-system";
}

/* Esta es la imagen del titulo 
.Icono{
display: flex;
justify-content:center;
align-items:center;
position:relative;
top:1.2em;
} 
.Logo{
    padding: 40px;
    display:flex;
    height:7em;
    position: relative;
    left:-32em;
    display:flex;
    justify-content:center;
    align-items:center;

}

.Logo h1 b{
    color: #FFFFFF;
    position: relative;
   right:2em;
}


.Logo h1 strong{
    color:rgba(162,239,77,255);
    position: relative;

}
.Menu{
    height:7em;    
}
.Menu nav{
    height:100%;
}
.Menu nav ul{
    height:100%;
    display:flex;
    list-style:none;
}
.Menu nav ul li{
    overflow-y: hidden;
    height:100%;
    margin:0px 0.3em;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Menu-Seleccionado:before, .Menu-Seleccionado:after {
    content: '';
    width: 100%;
    height: 0.2em;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 2s ease-in-out;
}

.Menu-Seleccionado:before {
    top: -2em;
}

.Menu-Seleccionado:after {
    bottom: -2em;
}

.Menu-Seleccionado:hover:before {
    top: 2.8em;

}
#Texto-Menu-Seleccionado:hover{
    text-transform: uppercase;
}
.Menu-Seleccionado:hover:after {
    bottom: 2.6em;
}
.Menu nav ul li a{
    color:#12FF00;
    transition:color 4000ms;
}
.Menu nav ul li a:hover{
    color:rgb(255,255,255);
    transition:color 1000ms;
    border-color: #FFFFFF;

}
.Menu .Texto-Menu-Seleccionado{
    color: #000;
}
.Menu .Texto-Menu-Seleccionado1{
    color:rgb(000,000,000);
}
.Menu .Texto-Menu-Seleccionado2{
    color:rgb(0,0,0);
}
/* Fuente 
.blinker-thin {
    font-family: "Blinker", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .blinker-extralight {
    font-family: "Blinker", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .blinker-light {
    font-family: "Blinker", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .blinker-regular {
    font-family: "Blinker", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .blinker-semibold {
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .blinker-bold {
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .blinker-extrabold {
    font-family: "Blinker", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .blinker-black {
    font-family: "Blinker", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
.section0 ul {
    display: flex;
    list-style: none;
    top: 500em;
}
.social{
 position: relative;
 top: 8em;
}       
#imgF{
    position: relative;
    left: 20em;
    top:25em;
}
#clic{
    display: none;
}
#clic:checked ~.section0 ul #li1{
    visibility: visible;
}
#clic:checked~.section0 ul #li2{
    visibility:hidden ;
}
section ul #li1{
    position:relative;
    top:8em;
    list-style: none;
}
section ul #li1 span{
    position: relative;
    
}
.section0 ul #li2{
    visibility: visible;
    position: relative;
    bottom:16.8em;
}


.section0 ul {
    list-style: none;
}


#imgF {
    position: relative;
    left: 22em;
}
.section0 ul #li1 {
    position: relative;
    top: 8em;
    visibility: hidden; 
}


.section0 ul #li2 {
    position: relative;
    bottom: 16.8em;
}


#clic:checked ~ .section0 ul #li1 {
    visibility: visible;
}

#clic:checked ~ .section0 ul #li2 {
    visibility: hidden;
}
*/