/* ? Como no me enviarion Un Ico sin fono y Sin letras pues deje ese , Les Gusta */
/* *  Esto Controla Todo El Documento En Gene
ral*/
*{   
    flex-wrap: wrap;        
    margin:0;
    left:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color:#FFFFFF;
    overflow:visible;
}
body{
    background-color: rgba(162,239,77,255);
}

/* Esto Controla La Cabeza del domumento Ocultando la Barra Vertical y Fiajndola */
header{
    min-width:250px;
    max-height: none;
    overflow-y: hidden;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:7.2em;
    background-color:rgba(129,179,55,255);
    z-index:2;
}

/*  De aqui en adelante es lo ue contiene el header */
.Contenedor_Header{
    max-width:1680px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    font-family:"BlinkMacSystemFont","Bliker","system-ui", 'Segoe UI', "Roboto","Oxygen","Ubuntu","Cantarell", 'Open Sans', 'Helvetica Neue', "sans-serif","-apple-system";
}

/* Esta es la imagen del titulo */
.Icono{
display: flex;
justify-content:center;
align-items:center;
position:relative;
top:1.2em;
}
.Logo{
    display:flex;
    height:7em;
    position: relative;
    left:-14.9em;
    display:flex;
    justify-content:center;
    align-items:center;

}

.Logo h1 b{
    color: #FFFFFF;
    position: relative;
   right:2em;
}


.Logo h1 strong{
    color:rgba(162,239,77,255);
    position: relative;

}
.Menu{
    height:7em;    
}
.Menu nav{
    height:100%;
}
.Menu nav ul{
    height:100%;
    display:flex;
    list-style:none;
}
.Menu nav ul li{
    overflow-y: hidden;
    font-weight: 200;
    height:100%;
    margin:0px 1.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size:x-large;
}
.Menu-Seleccionado:before, .Menu-Seleccionado:after {
    content: '';
    width: 100%;
    height: 0.2em;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 2s ease-in-out;
}

.Menu-Seleccionado:before {
    top: -2em;
}

.Menu-Seleccionado:after {
    bottom: -2em;
}

.Menu-Seleccionado:hover:before {
    top: 2.8em;

}
#Texto-Menu-Seleccionado:hover{
    text-transform: uppercase;
}
.Menu-Seleccionado:hover:after {
    bottom: 2.6em;
}

.Menu nav ul li a{
    color:#000;
    transition:color 4000ms;
}


.Menu nav ul li a:hover{
    color:rgb(255,255,255);
    transition:color 1000ms;
    border-color: #FFFFFF;

}
.Menu .Texto-Menu-Seleccionado{
    color: #000;
}
.Menu .Texto-Menu-Seleccionado1{
    color:rgb(000,000,000);
}
.Menu .Texto-Menu-Seleccionado2{
    color:rgb(0,0,0);
}
/* Fuente */
.blinker-thin {
    font-family: "Blinker", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .blinker-extralight {
    font-family: "Blinker", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .blinker-light {
    font-family: "Blinker", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .blinker-regular {
    font-family: "Blinker", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .blinker-semibold {
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .blinker-bold {
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .blinker-extrabold {
    font-family: "Blinker", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .blinker-black {
    font-family: "Blinker", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .Border{
max-width:0.5em;
padding:1em;
position: relative;
background:linear-gradient();
  }
.Cuadrado{
    background-color: #FFFFFF;
    border:0.1em solid #000;
    border:linear-gradiant(#000,#FFF);
    border-radius:2em;
    position:absolute;
    left:45em;
    top:9.8em;
    width:35em;
    height:44.9em;   
}
.Cuadrado span{
    position:absolute;
}
.Cuadrado span .Sesion{
    font-size: xx-large;
position: relative;
left:6em;
}
.Cuadrado span h3{
    font-size:medium;
    position:relative;
    left:1.2em;
}
.Cuadrado span .pass{
position: absolute;
top: 12em;
}
.Iniciar{
    border:0.01em solid #000000;
    border-radius:0.2em;
    width:15em;
    height:4em;
    position:absolute;
    top:35em;
    left:5em;
}
.Registrarse{
    border:0.01em solid #000000;
    border-radius:0.2em;
    width:15em;
    height:4em;
    position: absolute;
    top:35em;
    left:22em;
    background-color: rgba(22,133,252,255);
}
#id{
    border: 0.1em solid #000;
    box-shadow:0.1em #000000;
    width:161%;
    height:4.5em;
    position: absolute;
    top:7.2em;
    left:1.9em;
}
#pass{
    border:0.1em solid #000;
    box-shadow: 0.1em #000;
    width:161%;
    height: 4.5em;
    position: absolute;
    top: 18em;
    left: 1.9em;
}